body{
    margin:0;
    padding: 0;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 500;
}


.mainContainer {
  background-image: url("./images/bg-main-desktop.png") !important;
  height: 100vh !important;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  gap:5rem;
}

.frontCard{
    position: relative;
    top: 6rem;
    left: 10rem;
}

.backCard{
    position: relative;
    top: 8rem;
    left: 18rem;
}

.cardDetails{
    position: relative;
    top: 12rem;
    left: 20rem;
}

input{
    width: 350px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid hsl(279, 6%, 55%);
    padding: 5px;
}


.cardBottom{
    display: flex;
    flex-direction: row;
    gap: 3.4rem;
}

.cardBottom input{
    width: 125px;
}

.holder{
    margin-bottom: 1rem;
}

.number{
    margin-bottom: 1rem;
}

button{
    margin-top: 2.5rem;
    width: 350px;
    font-size: 18px;
    font-family: "Space Grotesk";
    font-weight: 500;
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
}

.frontCard h2{
    color: white;
    position: absolute;
    top: 8rem;
    left: 4rem;
}

.jane{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 12rem;
    position: absolute;
    top: 11rem;
    left: 2rem;
}

.thankYouContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thankYouContainer p{
    color: gray;
}


@media(max-width:770px){
    .mainContainer{
        flex-direction: column;
        height: 80vh !important;
    }
}

@media(max-width:510px){
    
    .backCard{
        position: absolute;
        top: 1rem;
        left: 7em;
    }
    .frontCard{
        top: 11rem;
        left: 2rem;
        z-index: 1;
    }
    .cardDetails{
        top: 12rem;
        left: 8rem;
    }
    .jane{
        gap: 8rem;
    }
}